// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.mail-container{
	width: 500px;
  border: 1px solid #888;
}

.mail-list{
  
}

.mail-display{
  width: 100%;
}